
@{
    ViewBag.Title = "Baja";
    Layout = "~/Views/Shared/_Layout _Administracion.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

<div class="main-body">
    <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <!-- Basic Form Inputs card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Lista de empleados dados de baja </h5>
                            <span></span>
                        </div>
                        <div class="card-body">
                            <div class="col-md-12" id="DivTableListaDocumentos">
                                <table class="table table-striped table-hover" id="TableListaDocumentos">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="text-center">Empleado </th>
                                            <th class="text-center">Cliente</th>
                                            <th class="text-center">Motivos</th>
                                            <th class="text-center">Fecha baja</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (ViewBag.Empleados != null)
                                            {
                                                foreach (var Dat in ViewBag.Empleados)
                                                {
                                                    <tr>
                                                        <td>
                                                            <p>
                                                                FOLIO: <strong>@Dat.PersonasFolio.FolioCompuesto</strong> <br />
                                                                NOMBRE: <strong>@Dat.Personas.Nombre @Dat.Personas.ApPaterno @Dat.Personas.ApMaterno</strong><br />
                                                                NSS: <strong>@Dat.PersonasDetalle.NSS</strong><br />
                                                                RFC: <strong>@Dat.PersonasDetalle.RFC</strong><br />
                                                                CURP: <strong>@Dat.PersonasDetalle.CURP</strong>
                                                            </p>
                                                        </td>

                                                        <td>
                                                            <p>
                                                                CLIENTE: <br /> <strong>
                                                                    @{ if (Dat.PersonasDetalle.Cat_Clientes != null)
                                                                        { @Dat.PersonasDetalle.Cat_Clientes.Nombre } }
                                                                </strong>  <br />PROYECTO O SERVICIO: <strong>
                                                                    <br />@{ if (Dat.PersonasDetalle.Cat_ProyectoServicios != null)
                                                                        { @Dat.PersonasDetalle.Cat_ProyectoServicios.Nombre } }
                                                                </strong>

                                                            </p>

                                                        </td>
                                                        <td>
                                                            <p>
                                                                <strong>
                                                                    @if (Dat.Motivos != null)
                                                                    {
                                                                        @Html.Raw(@Dat.Motivos) 
                                                                    }
                                                                </strong>
                                                            </p>
                                                        </td>
                                                        <td class="text-center">
                                                            <p>
                                                                <strong>
                                                                    @if (Dat.FechaBaja != null)
                                                                    {
                                                                        @Dat.FechaBaja
                                                                    }
                                                                </strong>
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <button class="btn waves-effect waves-light btn-success" onclick="Editar(@Dat.Personas.Id)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar"><i class="icofont icofont-edit-alt"></i></button>
                                                            <button class="btn waves-effect waves-light btn-primary" onclick="Mostrar(@Dat.Personas.Id)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mostrar"><i class="icofont icofont-eye-alt"></i></button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/assets/js/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<script>
    $('#TableListaDocumentos').DataTable({
        scrollY: '60vh',
        scrollCollapse: true,
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        }
    });

    function Editar(num) {
        window.location.href = '@Url.Action("Editar", "Empleados")?Id=' + num;
    }

    function Mostrar(num)
    {
        window.location.href = '@Url.Action("Consulta", "Empleados")?Id=' + num;
    }

</script>

<script>
    $('#IdMenuEmpleados').addClass("active pcoded-trigger");
    $('#IdSubMenuBajas').addClass("active");
</script>