
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout _Administracion.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<style>
    select.form-control, select.form-control:focus, select.form-control:hover {
        border-top: 1px;
        border-right: 1px;
        border-left: 1px;
        border: 1px solid #cccccc;
        border-radius: 2px;
    }

    select.form-control:not([size]):not([multiple]) {
        height: 36px;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="AgregarAplicacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva aplicación </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="largeInput">* Aplicación </label>
                            <div class="input-group">
                                <select class="form-control" id="Select_Aplicacion" >
                                    <option value="0">SELECCIONAR </option>
                                    @foreach (var item1 in ViewBag.Aplicaciones)
                                    {
                                        <option value="@item1.Id">@item1.Nombre.ToUpper()</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="BtnCerrarAplicacion"> Cancelar</button>
                <button type="button" class="btn btn-primary" id="BtnNuevaAplicacion">Agregar  </button>
            </div>
        </div>
    </div>
</div>


<div class="main-body">
    <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <!-- Basic Form Inputs card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Acceso aplicaciones  </h5>
                            <span>Administración de catálogo, agrega o retira aplicaciones de acceso. Completa los campos marcados *  </span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="largeInput">* Empresa  </label>
                                        <div class="input-group">
                                            <select class="form-control" id="Select_Empresa_Empleado" onchange="CargaDepartamentos(this.value)">
                                                <option value="0">SELECCIONAR </option>
                                                @foreach (var item1 in ViewBag.Empresas)
                                                {
                                                    <option value="@item1.Id">@item1.RazonSocial.ToUpper()</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="largeInput">* Departamento  </label>
                                        <div class="input-group">
                                            <select class="form-control" id="Select_Departamento_Empleado" onchange="CargaPuestos(this.value)">
                                                <option value="0">SELECCIONAR </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="largeInput">* Puesto  </label>
                                        <div class="input-group">
                                            <select class="form-control" id="Select_Puesto_Empleado" onchange="ValidaSelect('Select_Puesto_Empleado')">
                                                <option value="0">SELECCIONAR </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <button class="btn waves-effect waves-light btn-primary col-md-12" id="BtnNuevoMotivo" onclick="ConsultaAplicaciones()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Consulta Aplicaciones"> <i class="fa fa-search"></i> Consulta Aplicaciones </button>
                                    <br /><br />
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <button class="btn waves-effect waves-light btn-primary col-md-12" id="BtnNuevoMotivo" onclick="AgregarNuevaAplicacion()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Agregar Aplicación"> <i class="fa fa-plus"></i> Agregar Aplicación </button>
                                    <br /><br />
                                </div>

                                <div class="col-md-12 col-lg-12">
                                    <strong><span>Lista de aplicaciones registradas </span></strong>
                                    <br /><br />
                                </div>
                                <div class="col-md-12 col-lg-12" id="DivTableAplicaciones">
                                    <table class="table table-striped table-hover text-center" id="TableListaAplicaciones">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center">Nombre </th>
                                                <th class="text-center">Estatus</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/assets/js/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>


<script>
    function AgregarNuevaAplicacion() {
        if (ValidarAbrirModal()) {
            $("#AgregarAplicacion").modal("show");
        } else {
            $.notify({
                message: "Completa el formulario!."
            }, {
                type: 'danger'
            });
        }
    }

    $('#BtnNuevaAplicacion').click(function () {
        var Aplicacion = $("#Select_Aplicacion option:selected").val();
        $('#Select_Aplicacion').css("border", "1px solid #f44336");

        if ($("#Select_Aplicacion option:selected").val() > 0) {
            $('#Select_Aplicacion').css("border", "1px solid #cccccc");
        }

        var resul = false;

        if (Aplicacion > 0) {
            resul = true;
        }

        if (resul) {

            var Cat_Aplicaciones = new Object();
            Cat_Aplicaciones.Id = $("#Select_Aplicacion option:selected").val();

            var EmpresaPuestos = new Object();
            EmpresaPuestos.Id = $("#Select_Puesto_Empleado option:selected").val();

            var PuestoAplicacion = new Object();
            PuestoAplicacion.EmpresaPuestos = EmpresaPuestos;
            PuestoAplicacion.Cat_Aplicaciones = Cat_Aplicaciones;

            $.ajax({
                type: "POST",
                url: "@Url.Action("AccesoAplicaciones_Agregar", "AccesoAplicaciones")",
                async: false,
                data: JSON.stringify(PuestoAplicacion),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: resultadoAgregar,
                error: function () {
                    $.notify({
                        message: "Inténtelo mas tarde."
                    }, {
                        type: 'danger',
                        allow_dismiss: false,
                        animate: {
                            enter: 'animated rollIn',
                            exit: 'animated rollOut'
                        }
                    });
                }
            });

        } else {
            $.notify({
                message: "Formulario incompleto!."
            }, {
                type: 'danger'
            });
        }
    });

    function resultadoAgregar(data) {
        $("#BtnCerrarAplicacion").trigger("click");

        switch (data.Id) {
            case -1:
                swal({
                    title: "Algo ocurrió !",
                    text: 'La aplicación ya se encuentra registrada.',
                    icon: "warning",
                    button: "Aceptar",
                });
                break;
            case 0:
                swal({
                    title: "Algo ocurrió !",
                    text: 'Aplicación no registrados',
                    icon: "warning",
                    button: "Aceptar",
                });
                break;

            default:
            // code block
        }

        if (data.Id > 0) {
            swal({
                title: "Nueva aplicación agregada. !",
                icon: "success",
                buttons: {
                    agregar: {
                        text: "Aceptar", className: 'sweet-continuar'
                    },
                },
            }).then((value) => {
                switch (value) {
                    case "agregar":
                        $('#Select_Aplicacion option[value="0"]').attr("selected", true);
                        CargaListaAplicaciones();
                    break;
                }
            });
        }
    }

    function ConsultaAplicaciones() {
        if (ValidarAbrirModal()) {
            CargaListaAplicaciones();
        } else {
            $.notify({
                message: "Completa el formulario!."
            }, {
                type: 'danger'
            });
        }
    }

    function CargaListaAplicaciones() {
        var obj = {};
        obj['Id'] = $("#Select_Puesto_Empleado option:selected").val();

        var jsonObject = {
            "EmpresaPuestos": obj
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("AccesoAplicaciones_Listar", "AccesoAplicaciones")",
            async: false,
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: PintaTabla,
            error: function () {
                var Table =
                    "<div class='card-block table-border-style'>" +
                    "<div class='table-responsive'>" +
                    "<table class='table table-striped table-hover text-center' width='100%' id='TableListaAplicaciones'>" +
                    "<thead class='thead-dark'>" +
                    "<tr>" +
                    "<th class='text-center'>Nombre</th>" +
                    "<th class='text-center'>Estatus</th>" +
                    "<th class='text-center'> </th>" +
                    "</tr>" +
                    "</thead>" +
                    "<tbody>";

                Table += "</tbody>"
                "</table>"
                "</div>"
                "</div>";

                $('#DivTableAplicaciones').html(Table);

                $('#TableListaAplicaciones').DataTable({
                    scrollY: '60vh',
                    scrollCollapse: true,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                    }
                });
            }
        });
    }

    function PintaTabla(respuesta) {
        var Table =
            "<div class='card-block table-border-style'>" +
                "<div class='table-responsive'>" +
                    "<table class='table table-striped table-hover text-center' width='100%' id='TableListaAplicaciones'>" +
                        "<thead class='thead-dark'>" +
                            "<tr>" +
                            "<th class='text-center'>Nombre</th>" +
                            "<th class='text-center'>Estatus</th>" +
                            "<th class='text-center'> </th>" +
                            "</tr>" +
                        "</thead>" +
                        "<tbody>";

        if (respuesta.length > 0) {
            for (var b = 0; b < respuesta.length; b++) {
                Table += "<tr>" +
                            "<td style='padding: 0px 10px;'>" + respuesta[b].Cat_Aplicaciones.Nombre + "</td>" +
                            "<td style='padding: 0px 10px;'>Activo</td>" +

                            "<td style='padding: 0px 10px;'>" +
                    "<button class='btn waves-effect waves-light btn-danger col-md-6' onclick='EliminarAplicacion(" + respuesta[b].Id + ")' data-toggle='tooltip' data-placement='top' title='Eliminar Aplicación'><i class='fa fa-trash'></i></button>" +
                            "</td>" +
                        "</tr>";
            }
        }

        Table +=        "</tbody>"
                    "</table>"
                "</div>"
        "</div>";

        $('#DivTableAplicaciones').html(Table);
        $('[data-toggle="tooltip"]').tooltip();

        $('#TableListaAplicaciones').DataTable({
            scrollY: '60vh',
            scrollCollapse: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        });
    }

    function EliminarAplicacion(num) {
        var obj = {};
        obj['Id'] = num;

        var jsonObject = {
            "PuestoAplicacion": obj
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("AccesoAplicaciones_Eliminar", "AccesoAplicaciones")",
            async: false,
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: ResulEliminar,
            error: function () {
                $.notify({
                    message: "Inténtelo mas tarde."
                }, {
                    type: 'danger',
                    allow_dismiss: false,
                    animate: {
                        enter: 'animated rollIn',
                        exit: 'animated rollOut'
                    }
                });
            }
        });

    }

    function ResulEliminar(data) {
        switch (data.Id) {
            case 0:
                swal({
                    title: "Algo ocurrió !",
                    text: 'Aplicación no eliminada',
                    icon: "warning",
                    button: "Aceptar",
                });
                break;

            default:
            // code block
        }

        if (data.Id > 0) {
            swal({
                title: "Aplicación eliminada. !",
                icon: "success",
                buttons: {
                    agregar: {
                        text: "Aceptar", className: 'sweet-continuar'
                    },
                },
            }).then((value) => {
                switch (value) {
                    case "agregar":
                        CargaListaAplicaciones();
                    break;
                }
            });
        }
    }

    function ValidarAbrirModal() {
        var result = false;

        $('#Select_Empresa_Empleado').css("border", "1px solid #f44336");
        $('#Select_Departamento_Empleado').css("border", "1px solid #f44336");
        $('#Select_Puesto_Empleado').css("border", "1px solid #f44336");

        if ($("#Select_Empresa_Empleado option:selected").val() > 0) {
            $('#Select_Empresa_Empleado').css("border", "1px solid #cccccc");
        }
        if ($("#Select_Departamento_Empleado option:selected").val() > 0) {
            $('#Select_Departamento_Empleado').css("border", "1px solid #cccccc");
        }
        if ($("#Select_Puesto_Empleado option:selected").val() > 0) {
            $('#Select_Puesto_Empleado').css("border", "1px solid #cccccc");
        }

        if ($("#Select_Empresa_Empleado option:selected").val() > 0) {
            if ($("#Select_Departamento_Empleado option:selected").val() > 0) {
                if ($("#Select_Puesto_Empleado option:selected").val() > 0) {
                    result = true;
                }
            }
        }
        return result;
    }

    $('#TableListaAplicaciones').DataTable({
        scrollY: '60vh',
        scrollCollapse: true,
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        }
    });

    $('#IdMenuConfiguracion').addClass("active pcoded-trigger");
    $('#IdSubMenuCatalogos').addClass("active pcoded-trigger");
    $('#IdCatalogosAccesoAplicaciones').addClass("active");
</script>


<script>
    function CargaPuestos(valor) {
        if (valor > 0) {
            $('#Select_Departamento_Empleado').css("border", "1px solid #cccccc");

            var obj = {};
            obj['Id'] = valor;

            var jsonObject = {
                "EmpresasDepartamento": obj
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("Consulta_Puestos", "Empresas")",
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#Select_Puesto_Empleado").empty();

                    var option = $(document.createElement('option'));
                    option.text("SELECCIONAR");
                    option.val(0);

                    $("#Select_Puesto_Empleado").append(option);


                    if (result.length > 0) {


                        $(result).each(function () {
                            var option = $(document.createElement('option'));

                            option.text(this.Nombre.toUpperCase());
                            option.val(this.Id);

                            $("#Select_Puesto_Empleado").append(option);
                        });

                        /*$('#Select_Puesto_Empleado option[value="' + valor + '"]').attr("selected", true);*/
                    }
                },
                error: errores
            });
        }
    }

    function CargaDepartamentos(valor) {
        if (valor > 0) {
            $('#Select_Empresa_Empleado').css("border", "1px solid #cccccc");

            var obj = {};
            obj['Id'] = valor;

            var jsonObject = {
                "Empresas": obj
            };




            $.ajax({
                type: "POST",
                url: "@Url.Action("Consulta_Departamentos", "Empresas")",
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#Select_Departamento_Empleado").empty();
                    $("#Select_Puesto_Empleado").empty();

                    var option2 = $(document.createElement('option'));
                    option2.text("SELECCIONAR");
                    option2.val(0);

                    var option3 = $(document.createElement('option'));
                    option3.text("SELECCIONAR");
                    option3.val(0);

                    $("#Select_Departamento_Empleado").append(option2);
                    $("#Select_Puesto_Empleado").append(option3);

                    if (result.length > 0) {
                        $(result).each(function () {
                            var option = $(document.createElement('option'));

                            option.text(this.Nombre.toUpperCase());
                            option.val(this.Id);

                            $("#Select_Departamento_Empleado").append(option);
                        });

                        /*$('#Select_Departamento_Empleado option[value="' + valor + '"]').attr("selected", true);*/
                    }
                },
                error: errores
            });


            var Empresas = new Object();
            Empresas.Id = valor;

            $.ajax({
                type: "POST",
                url: "@Url.Action("Cat_Clientes_Listar_IdEmpresa", "Clientes")",
                data: JSON.stringify(Empresas),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#Select_Cliente_Empleado").empty();

                    var option = $(document.createElement('option'));
                    option.text("SELECCIONAR");
                    option.val(0);

                    $("#Select_Cliente_Empleado").append(option);

                    if (result.length > 0) {
                        $(result).each(function () {
                            var option = $(document.createElement('option'));

                            option.text(this.Nombre.toUpperCase());
                            option.val(this.Id);

                            $("#Select_Cliente_Empleado").append(option);
                        });
                    }
                },
                error: errores
            });

            if (valor == 1) {
                $("#BTnNuevoCliente2").prop('disabled', false);
                $("#BTnNuevoProyecto").prop('disabled', false);
            } else {
                $("#BTnNuevoCliente2").prop('disabled', true);
                $("#BTnNuevoProyecto").prop('disabled', true);
            }

        }
    }

    function errores() {
        $.notify({
            message: "Inténtelo mas tarde."
        }, {
            type: 'danger',
            allow_dismiss: false,
            animate: {
                enter: 'animated rollIn',
                exit: 'animated rollOut'
            }
        });
    }

    function mayus(e) {
        e.value = e.value.toUpperCase();
    }

    function ValidaSelect(name) {
        if ($('#' + name + ' option:selected').val() > 0) {
            $('#' + name).css("border", "1px solid #cccccc");
        } else {
            $('#' + name).css("border", "1px solid #f44336");
        }
    }
</script>