@{
    Layout = "~/Views/Shared/_Layout _Administracion.cshtml";
}

<link href="~/assets/js/EditorText/css/froala_editor.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/froala_style.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/code_view.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/draggable.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/colors.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/emoticons.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/image_manager.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/image.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/line_breaker.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/table.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/char_counter.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/video.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/fullscreen.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/file.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/quick_insert.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/help.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/third_party/spell_checker.css" rel="stylesheet" />
<link href="~/assets/js/EditorText/css/plugins/special_characters.css" rel="stylesheet" />

<style>
    .shadow {
        box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07) !important;
    }

    .border-radius-lg {
        border-radius: 0.75rem;
        width: 88%;
    }

    .avatar {
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border-radius: 0.75rem;
        height: 48px;
        width: 48px;
        transition: all .2s ease-in-out;
    }
</style>

<!-- Page-header start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">RH - PROSPECTOS </h5>
                    <p class="m-b-0">Editar prospecto</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="#!"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">RH - PROSPECTOS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">

                        <div class="card-header pb-0">
                            <div class="row">
                                <div class="col-lg-6 col-7">
                                    <h6>Postulación: </h6>
                                    <small>Completa los campos marcados con <strong>*</strong></small>
                                </div>
                            </div>
                        </div>

                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="largeInput">* Nombre  </label>
                                                <input type="text" class="form-control form-control" id="Propecto_Nombre" value="@ViewBag.Prospecto.Nombre" onchange="ValidaInput('Propecto_Nombre')">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="largeInput">* Apellido Paterno  </label>
                                                <input type="text" class="form-control form-control" id="Propecto_ApellidoPaterno" value="@ViewBag.Prospecto.ApellidoPaterno" onchange="ValidaInput('Propecto_ApellidoPaterno')">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="largeInput">* Apellido Materno  </label>
                                                <input type="text" class="form-control form-control" id="Propecto_ApellidoMaterno" value="@ViewBag.Prospecto.ApellidoMaterno" onchange="ValidaInput('Propecto_ApellidoMaterno')">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="largeInput">* Correo electrónico     </label>
                                                <input type="text" class="form-control form-control" id="Propecto_Correo" value="@ViewBag.Prospecto.CorreElectronico" onchange="ValidaInput('Propecto_Correo')">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="largeInput">* Teléfono celular   </label>
                                                <input type="text" class="form-control input-number" value="@ViewBag.Prospecto.TelefonoCelular" id="Propecto_TelefonoCelular" onchange="ValidaInput('Propecto_TelefonoCelular ')">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="largeInput"> Teléfono fijo    </label>
                                                <input type="text" class="form-control input-number" id="Propecto_TelefonoFijo" value="@ViewBag.Prospecto.TelefonoFijo" onchange="ValidaInput('Propecto_TelefonoFijo')">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            @*<div class="col-md-6 col-lg-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="MostrarExperiencia" name="MostrarExperiencia" onchange="AgregarExperiencia()">
                                        <label class="form-check-label" for="MostrarExperiencia">Agregar experiencia laboral  </label>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card mb-4" id="DivExperiencia" style="display:none">
                        <div class="card-header pb-0">
                            <div class="row">
                                <div class="col-lg-9 col-9">
                                    <h6>Experiencia laboral   <strong>  </strong> </h6>
                                    <small>Agrega tu experiencia laboral dando clic sobre el botón <strong>nueva experiencia laboral</strong>, completa los campos marcados con <strong> * </strong></small>
                                </div>
                                <div class="col-lg-3 col-3" style="text-align:right">
                                    <a class="btn bg-gradient-dark mb-0" data-bs-toggle="modal" data-bs-target="#AgregarExperienciaLaboral">Nueva experiencia laboral </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-md-12 col-lg-12" id="ListaEmpleos">

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4 col-lg-4">
            <div class="row">
                <div class="col-xl-12 mb-xl-0 mb-4">
                    <div class="card mb-4 bg-transparent shadow-xl">
                        <div class="overflow-hidden position-relative border-radius-xl" style="background-image: url('../assets/images/curved14.jpg');">
                            <span class="mask bg-gradient-dark"></span>
                            <div class="card-body position-relative z-index-1 p-3">
                                @*<h5 class="text-white mt-4 mb-5 pb-2">@ViewBag.Vacante.Titulo</h5>*@
                                <div class="d-flex">
                                    <div class="d-flex">
                                        <div>
                                            <p class="text-white text-sm opacity-8 mb-0">Fecha publicación  </p>
                                            @*<h6 class="text-white mb-0">@ViewBag.Vacante.FechaRegistro</h6>*@
                                        </div>
                                    </div>
                                    <div class="ms-auto w-20 d-flex align-items-end justify-content-end">
                                        <img class="w-60 mt-2" src="../assets/images/asaelogo.png" alt="logo" style="width: 25%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 mb-xl-0 ">
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <h6>Curriculum vitae </h6>
                                    <small>Archivo formato <strong>PDF</strong> o <strong>word</strong></small>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-12 text-center">
                                    @*<a class="btn bg-gradient-dark mb-0" onclick="SubirArchivo()">Agregar CV</a>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <input id="fileInputArchivo" type="file" style="visibility:hidden">
                                    <progress id="fileProgresArchivo" style="width: 100%; display: none;"></progress>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" id="DivListPDF">
                                    @{
                                        if (ViewBag.ProspectoArchivo != null)
                                        {
                                            foreach (var item in ViewBag.ProspectoArchivo)
                                            {
                                                <li class='list-group-item border-0 d-flex align-items-center px-0 mb-2'>
                                                    <div class='avatar me-3'>
                                                        @if (item.Extencion == ".pdf")
                                                        {
                                                            <img src='~/Images/icons/ImgPdf.png' class='border-radius-lg shadow'>
                                                        }
                                                        else
                                                        {
                                                            <img src='~/Images/icons/ImgWork.jpg' class='border-radius-lg shadow'>
                                                        }
                                                    </div>
                                                    <div class='d-flex align-items-start flex-column justify-content-center'>
                                                        <h6 class='mb-0 text-sm'>Curriculum vitae.</h6>
                                                        <p class='mb-0 text-xs'>@item.NmOriginal</p>
                                                    </div>
                                                    @if (item.Extencion == ".pdf")
                                                    {
                                                        <a class='btn btn-link pe-3 ps-0 mb-0 ms-auto' onclick='MostrarPDF("@item.NmARchivo")'>Mostrar</a>
                                                    }
                                                    else
                                                    {
                                                        <a class='btn btn-link pe-3 ps-0 mb-0 ms-auto' onclick='DescargarArchivo("@item.NmARchivo")'>Descargar</a>
                                                    }
                                                </li>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <h6>Déjanos un mensaje o alguna observación </h6>
                        </div>
                    </div>
                </div>
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center">
                            <div id="editor">
                                <textarea name="editor_content" id="edit">
                                    @Html.Raw(@ViewBag.Prospecto.Observaciones)
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <button type="button" id="BtnRegistrar" class="btn bg-gradient-info w-100 mt-4 mb-0">Actualizar</button>
                            <br /><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="ModalPDF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Archivo </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <iframe id="iframepdf" width="100%" height="400px;" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" > Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/assets/js/EditorText/js/froala_editor.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/align.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/char_counter.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/code_beautifier.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/code_view.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/colors.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/draggable.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/emoticons.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/entities.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/file.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/font_size.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/font_family.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/fullscreen.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/image.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/image_manager.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/line_breaker.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/inline_style.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/link.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/lists.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/paragraph_format.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/paragraph_style.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/quick_insert.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/quote.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/table.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/save.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/url.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/video.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/help.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/print.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/third_party/spell_checker.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/special_characters.min.js"></script>
<script type="text/javascript" src="~/assets/js/EditorText/js/plugins/word_paste.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    (function () {
        new FroalaEditor("#edit", {
            attribution: false,
            events: {
                "image.beforeUpload": function (files) {
                    var editor = this;
                    if (files.length) {
                        // Create a File Reader.
                        var reader = new FileReader();
                        // Set the reader to insert images when they are loaded.
                        reader.onload = function (e) {
                            var result = e.target.result;
                            editor.image.insert(result, null, null, editor.image.get());
                        };
                        // Read image as base64.
                        reader.readAsDataURL(files[0]);
                    }
                    editor.popups.hideAll();
                    // Stop default upload chain.
                    return false;
                }
            }
        })

    })()

    $('#IdMenuVacantes').addClass("active pcoded-trigger");
    $('#IdSubMenuProspectos').addClass("active");
    $('#BtnRegistrar').click(function () {
        if (ValidarForm()) {
            $("#BtnRegistrar").prop("disabled", true);
            //$("#modal-notification").modal('show');


                EnviarInformacion();

        } else {
            swal({
                title: "Error!",
                text: "Formulario Incompleto!",
                type: "error",
                confirmButtonText: "Aceptar"
            });
        }
    });
    //PROCESAR INFORMACION
     function EnviarInformacion() {

         var Vacante = new Object();
         Vacante.Id = @ViewBag.Vacante.Id;
         @*Vacante.Titulo = '@ViewBag.Vacante.Titulo';*@

         var Prospecto = new Object();
         Prospecto.Vacante = Vacante;
         Prospecto.Nombre = $('#Propecto_Nombre').val();
         Prospecto.ApellidoPaterno = $('#Propecto_ApellidoPaterno').val();
         Prospecto.ApellidoMaterno = $('#Propecto_ApellidoMaterno').val();
         Prospecto.TelefonoCelular = $('#Propecto_TelefonoCelular').val();
         Prospecto.TelefonoFijo = $('#Propecto_TelefonoFijo').val();
         Prospecto.CorreElectronico = $('#Propecto_Correo').val();
         Prospecto.Observaciones = $('#edit').val();
         Prospecto.Id = @ViewBag.Prospecto.Id;

         $.ajax({
             type: "POST",
             url: "@Url.Action("Prospecto_Actualizar", "Prospectos")",
             async: false,
             data: JSON.stringify(Prospecto),
             contentType: "application/json; charset=utf-8",
             dataType: "json",
             success: function (result) {

                 //$("#modal-notification").modal("hide");
                 $("#BtnRegistrar").prop("disabled", false);

                 if(result.Id > 0){
                     swal({
                         title: "Prospecto  actualizado.",
                         text: "Los datos han sido actualizados satisfactoriamente",
                         icon: "success",
                         showCancelButton: false,
                         confirmButtonColor: "#3070A9",
                         confirmButtonText: "Aceptar",
                         closeOnConfirm: false,
                     },
                     function (isConfirm) {
                         if (isConfirm) {
                             window.location.href = '@Url.Action("Index", "Prospectos")';
                         }
                     });
                 }
                 else{
                     swal({
                         title: "Problemas en la solicitud",
                         text: "Postulación no registrada !",
                         icon: "warning",
                         buttons: true,
                         dangerMode: true,
                     }).then((willDelete) => {

                     });
                 }

             },
             error: function () {
                 //$("#modal-notification").modal("hide");
                 $("#BtnRegistrar").prop("disabled", false);
             }
         });
     }
    //Validaciones
    function ValidarForm() {
        var result = false;
        var From = false;

        $('#Propecto_Nombre').css("border", "1px solid #e293d3");
        $('#Propecto_ApellidoPaterno').css("border", "1px solid #e293d3");
        $('#Propecto_ApellidoMaterno').css("border", "1px solid #e293d3");
        $('#Propecto_Correo').css("border", "1px solid #e293d3");
        $('#Propecto_TelefonoCelular').css("border", "1px solid #e293d3");

        if ($('#Propecto_Nombre').val().length > 0) {
            $('#Propecto_Nombre').css("border", "1px solid #d2d6da");
        }

        if ($('#Propecto_ApellidoPaterno').val().length > 0) {
            $('#Propecto_ApellidoPaterno').css("border", "1px solid #d2d6da");
        }

        if ($('#Propecto_ApellidoMaterno').val().length > 0) {
            $('#Propecto_ApellidoMaterno').css("border", "1px solid #d2d6da");
        }

        if ($('#Propecto_Correo').val().length > 0) {
            $('#Propecto_Correo').css("border", "1px solid #d2d6da");
        }

        if ($('#Propecto_TelefonoCelular').val().length > 0) {
            $('#Propecto_TelefonoCelular').css("border", "1px solid #d2d6da");
        }

        if ($('#Propecto_Nombre').val().length > 0) {
            if ($('#Propecto_ApellidoPaterno').val().length > 0) {
                if ($('#Propecto_ApellidoMaterno').val().length > 0) {
                    if ($('#Propecto_Correo').val().length > 0) {
                        if ($('#Propecto_TelefonoCelular').val().length > 0) {
                            From = true;
                        }
                    }
                }
            }
        }

        var email = $("#Propecto_Correo").val();

        if (validateEmail(email)) {
            if (From) {
                result = true;
            }
        } else {
            $('#Propecto_Correo').css("border", "1px solid #e293d3");
        }

        return result;
    }
    function validateEmail(email) {
        var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
        return emailRegex.test(email);
    }
</script>

<script>
     function MostrarPDF(NM) {
        
         var mail = "https://www.asae.com.mx/PDF/Prospectos/" + NM;
         $('#iframepdf').attr('src', mail);

         $("#ModalPDF").modal("show");
     }

    function DescargarArchivo(NM) {
       
        var pdfUrl = "https://www.asae.com.mx/PDF/Prospectos/" + NM;
        var link = document.createElement('a');
        link.href = pdfUrl;
        link.download = NM; // Nombre del archivo
        link.style.display = 'none';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>